<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="gripeventtask">
	<test name="Test1">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<!-- <class name="com.gripeventtask.testCases.HomePageTest"/> -->
			<class name="com.gripeventtask.testCases.FlightSearchPageTest"/>  
		</classes>
	</test>
	
	<test name="Test2">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<!-- <class name="com.gripeventtask.testCases.HomePageTest"/> -->
		 	<class name="com.gripeventtask.testCases.FlightSearchPageTest"/>  
		</classes>
	</test>  
	
	<!-- <test name="Test3">
		<parameter name="browser" value="ie"></parameter>
		<classes>
		 	<class name="com.gripeventtask.testCases.HomePageTest"/>
		<class name="com.gripeventtask.testCases.SignInPageTest"/>
			<class name="com.gripeventtask.testCases.FlightSearchPageTest"/>  
		</classes>
	</test>  -->

</suite>